.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75);
}

.ReactModal__Content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.custom-modal .Formik {
    margin: 20px 0;
}

.custom-modal button[type="submit"] {
    background-color: #2ecc71;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}